html {
  font-size: 10px;
}

.herosection-maincontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: white;
}

